.card {
	border-radius: 0.5rem;
	background-color: var(--color-card-bg);
	padding: 0.6rem;
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	flex-basis: 20rem;
	min-width: 20rem;
	overflow: hidden;
	flex: 1;
}

.releaseDate {
	border: 1px solid var(--color-border-dark);
	padding: 0.1rem 0.2rem;
	width: fit-content;
	border-radius: 3px;
	font-size: 14px;
	color: var(--color-border-dark);
}

.description {
	overflow: hidden;
}

.descriptionContainer {
	flex: 1;
	overflow: auto;
	background-color: var(--color-card-bg-light);
	padding: 0.5rem;
	border-radius: 0.5rem;
	scrollbar-width: thin;
	scrollbar-color: var(--color-scrollbar) transparent;
}

/* small mobile */
@media (max-width: 480px) {
	.card {
		min-width: 100%;
	}
}
