.navigation {
	position: sticky;
	width: 15%;
	height: 100vh;
	background-color: var(--color-primary);
	padding: 2rem;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 1.5rem;
	}
}

.navLink {
	color: white;
	padding: 0.2rem 0;
	margin-bottom: 1rem;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid transparent;
	align-items: center;
	> span {
		display: none;
	}
}

.navLink:hover,
.active {
	border-bottom: 2px solid white;
	> span {
		display: inline-block;
		vertical-align: middle;
	}
}

.navLink:hover {
	transition: all 0.3s;
}

/* tablet */
@media (max-width: 1024px) {
	.navigation {
		width: 20%;
		padding: 1.5rem;
	}
}

/* mobile */
@media (max-width: 768px) {
	.navigation {
		width: 100%;
		height: auto;
		padding: 1rem;
	}

	.navigation ul {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		font-size: 1.2rem;
		justify-content: flex-start;
	}

	.navLink {
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 1;
	}

	.navLink:hover,
	.active {
		> span {
			display: none;
		}
	}
}
