.peopleDialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 400px;
	max-height: 80vh;
	padding: 1rem;
	border: none;
	border-radius: 12px;
	background-color: var(--color-white);
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	z-index: 1000;
}

.peopleDialog::backdrop {
	background: var(--backdrop-color);
}

.closeButton {
	position: sticky;
	top: 0;
	align-self: flex-end;
	padding: 0 0.4rem;
	margin-bottom: -1.4rem;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	z-index: 1;
	&:hover {
		transform: scale(1.2);
	}
}
