table {
	border-collapse: collapse;
	border: 1px solid black;
	margin-right: 2rem;
}

td,
th {
	border-bottom: 1px solid black;
	text-align: center;
	padding: 5px 10px;
	min-width: 100px;
}

th {
	background-color: var(--color-card-bg);
}

caption {
	font-size: 1.2em;
	margin: 1rem 0;
	text-align: left;
}

/* mobile */
@media (max-width: 768px) {
	.table {
		display: none;
	}
}
