@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

body {
	font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont,
		sans-serif;
	background-color: #f5f5f5;
	color: #333;
}
