.card {
	flex: 1 0 20rem;
	min-width: 20rem;
	background-color: #a4a4a4;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	transition: transform 0.2s;
	height: 20rem;
}
